<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Read_cXML_Invoices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="EcommerceDb" connectionString="Data Source=PRD-ECOM-DB;Initial Catalog=PRD-ECOM-DB;User id=docAlpha;Password=E*yL7*72jwDh#A;MultipleActiveResultSets=true;Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="NavisionDb" connectionString="Data Source=PRD-NAV-DB;Initial Catalog=GSS;User id=sjang;Password=2878920;MultipleActiveResultSets=true;Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="emailHost" value="webmail.govsci.com"/>
		<add key="emailDownHost" value="https://webmail.govsci.com/EWS/exchange.asmx"/>
		<add key="emailUsername" value="ZWNvbW1lcmNlc3lzdGVt"/>
		<add key="emailPassword" value="U2VjdXJlMQ"/>
		<add key="emailDomain" value="R1NTMQ"/>
		<add key="emailAdmin" value="dev_error@govsci.com"/>

		<add key="AppProfile" value="prd"/>
		<add key="InvoiceFolder" value="\\prd-biztalk\documents\IN\Status\Processed\Invoice\"/>
		<add key="EdiInvoiceFolder" value="\\prd-biztalk\documents\IN\Status\Processed\Invoice\"/>
		<add key="InvoiceDropFolder" value="\\gss-share0\DocAlpha\Invoices Received\"/>
		<add key="BatchFolder" value="BATCH_"/>
		<add key="MasterBatchFolder" value="MASTER_COPY_ONLY"/>
		<add key="daBatchIDPreq" value="GV"/>
		<add key="ReportPath" value="E:\Read_cXML_Invoices\"/>
		<add key="KwiktagURL" value="http://prd-kt.govsci.com/apiv2/"/>
		<add key="KwiktagUserName" value="ZG9jQWxwaGE"/>
		<add key="KwiktagPassword" value="cGFzc3dvcmQ"/>
		<add key="NdsInvoiceDays" value="7"/>
		<add key="PoNotFoundDays" value="10"/>
		<add key="InvoiceThresholdAmt" value="10.00"/>
		<add key="EmailRecipients" value="ap@govsci.com;gss-it-development@govsci.com"/>
		<!--<add key="EmailRecipients" value="zlingelbach@govsci.com"/>-->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Read_cXML_Invoices.Properties.Settings>
      <setting name="Read_cXML_Invoices_PrdAutoPostDoc_AutoPostDocument" serializeAs="String">
        <value>http://172.16.25.80:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Codeunit/AutoPostDocument</value>
      </setting>
      <setting name="Read_cXML_Invoices_PrdPurchaseOrder_PurchaseOrder_Service" serializeAs="String">
        <value>http://172.16.25.80:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Page/PurchaseOrder</value>
      </setting>
      <setting name="Read_cXML_Invoices_DevZAutoPostDoc_AutoPostDocument" serializeAs="String">
        <value>http://172.16.25.121:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Codeunit/AutoPostDocument</value>
      </setting>
      <setting name="Read_cXML_Invoices_DevZPurchaseOrder_PurchaseOrder_Service" serializeAs="String">
        <value>http://172.16.25.121:7047/DynamicsNAV90/WS/Government%20Scientific%20Source/Page/PurchaseOrder</value>
      </setting>
    </Read_cXML_Invoices.Properties.Settings>
  </applicationSettings>
</configuration>
